<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:admin="http://webns.net/mvcb/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
    <channel>
        <title>watson</title>
        <description>Ceci est un exemple de flux RSS 2.0</description>
        <link>http://watson.lndo.site/</link>
        {% for link in links %}
        <item>
            <description>{{ link.desc }}</description>
            <content:encoded>
                <![CDATA[<ul>
                <li><a href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a>.</li>
                </ul>
                <ul> {% for tag in link.tags %}
                    <li><a href="{{ path('tag', { 'id': tag.id }) }}">{{ tag.title }}</a></li>
                    {% endfor %}
                </ul>]]>
            </content:encoded>
            <dc:creator>{{ link.user.username }}</dc:creator>
            <guid isPermaLink="false">{{link.id * 508.2}}</guid>
        </item>
        {% endfor %}
    </channel>
</rss>