        body {
            padding-top: 100px;
        }
        
        .page {
            padding: 2px 10px 2px 10px;
            text-decoration: none;
        }
        
        .pagination {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: 50px;
        }
        
        .container_page {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin: 58px;
        }
        
        .pagination a {
            font-size: 16px;
            border: 1px solid silver;
        }
        
        .cont {
            display: grid;
            max-width: 825px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .col-md-4 {
            width: 39.333% !important;
            margin-bottom: 39px !important;
            margin: 61px;
            margin-bottom: 61px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            padding: 29px;
            text-align: center;
        }
        
        .col-md-4:hover {
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            ;
        }
        
        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border-radius: 5px;
            margin: 0 4px;
        }
        
        .pagination a.current {
            background-color: #ffc800;
            color: white;
            border-radius: 5px;
        }
        
        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
        
        #logo {
            width: 230px;
            height: 0;
            display: block;
            overflow: hidden;
            padding-top: 76px;
            font-size: 0;
            background: url("../images/logo.png") no-repeat center center;
        }
        
        .footer {
            border-top: 1px solid rgb(143, 143, 143);
            padding-top: 10px;
            text-align: center;
            margin-top: 30px;
        }
        
        .articleTitle:hover,
        .articleTitle:focus {
            text-decoration: none;
        }
        
        .adminTable {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        #errorPanel {
            padding-top: 30px;
            padding-bottom: 10px;
        }